{
  "extends": [
    "react-app",
    "eslint:recommended",
    "prettier",
    "prettier/react",
    "plugin:cypress/recommended"
  ],
  "plugins": ["jest", "prettier", "cypress"],
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true,
    "cypress/globals": true
  },
  "rules": {
    "no-lone-blocks": "error",
    "no-unused-vars": ["error", { "args": "none" }],
    "linebreak-style": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/prop-types": [0],
    "object-curly-newline": "off",
    "no-underscore-dangle": "off",
    "no-console": "off",
    "jsx-a11y/anchor-has-content": "off",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100
      }
    ]
  }
}
