* {
  /* box-sizing: border-box; */
  --img-border-width: 10px;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#root {
    height: 100%;
    overflow: hidden;
}

:root {
    --main-bg-color: #ddd;
}


.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App-header {
    background-color: dodgerblue;
    height: 152px;
    padding: 10px 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}

    .App-header .App-title {
        font-size: 1.5em;
        flex: 1;
    }

.StatusArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: seashell;
    padding: 4px;
    border-radius: 6px;
}

    .StatusArea .SharedStatus,
    .StatusArea .UserScore {
        min-width: 120px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 6px;
        padding: 4px;
    }

    .StatusArea .status-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .StatusArea .UserScore[data-isActive=true] {
            background-color: cyan;
        }

        .StatusArea .status-section.userArea .statusTitle {
            text-align: center;
        }

        .StatusArea .status-section .statusTitle {
            flex: 1;
            text-align: left;
            background-color: inherit;
        }

        .StatusArea .status-section .status-count {
          width: 40px;
          text-align: center;
        }
    
        .StatusArea .status-section .keep-button {
          padding: 6px 14px;
        }

        .StatusArea .matching-attrs {
          background-color: inherit;
          min-width: 170px;
          display: inline-block;
        }


.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
}


.Table {
    background-color: lightsteelblue; /* var(--main-bg-color); */
    flex: 1;
    overflow: auto;
    /* align-items: stretch; */
    /* justify-items: center; */
  }

.Table_grid {
  flex: 1;
  display: grid;
  box-sizing: border-box;
  /* grid-gap: calc(3 * var(--img-border-width)); */
  grid-gap: 2vmin;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  grid-template-rows: repeat(4, minmax(50px, 1fr));
  /* margin: calc(2 * var(--img-border-width)); */
  margin: 1vmin;
  max-width: 670px;
}

/* .Table_grid {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(5, minmax(50px, 200px));
} */

/* @media (max-width:500px) {
    .Table_grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
  }
}
@media (max-width:300px) {
    .Table_grid {
      grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width:500px) {
    .Table_grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
  }
} */

.Table_grid_item {
  position: relative;
}

.Card {
  border-radius: 14px;
  padding: 0;
  border: 8px solid white;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  line-height: 0;
  position: relative;
}

.Card.is-empty {
    border: 8px solid transparent;
    box-shadow: none;
}

/* .Card[data-facedown=true] {
} */

.Card[data-facedown=false].highlight-mismatch {
  border: 8px solid red;
}

.Card[data-facedown=false].highlight-match {
  border: 8px solid green;
}

    .Card img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      line-height: 0;
    }

    .Card[data-facedown=false] .card-label {
      position: absolute;
      left: 20%;
      right: 20%;
      top: 50%;
      line-height: initial;
    }



    .game-over-message {
        padding: 40px;
        margin: 40px;
        font-size: x-large;
        font-weight: bolder;
        color: darkblue;
        background-color: seashell;
        border-radius: 14px;
        line-height: 3em;
    }